.benefits-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--portfolio-buttons-color);
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
  gap: 30px;
}

.benefits-list {
  display: flex;
  gap: 30px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-dark-color);

    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-text-color);
  }
}
